.navBarTitle{
  background-color: #000;
  display: block;
  color: #fff;
  padding-left: 10px;
}
body{
  padding: 0 !important;
  color:white !important;
}

html, body{
  max-width: 100% !important;
  overflow-x: hidden !important;

}

*{
  box-sizing: border-box !important;
  font-family: 'Hammersmith One', sans serif !important;
}

.img__wrap {
  position: relative;
}

.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.7);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
  cursor:pointer;
}

.img__description {
  transition: .2s;
  transform: translateY(1em);
}

.img__wrap:hover .img__description {
  transform: translateY(0);
  cursor:pointer;
}



.movie-icon{
  font-size: 1.8em;
  /*border-right: 2px solid white;*/
  padding:0;
  padding-right: 10px !important;
}

.tv-icon{
  font-size: 1.5em;
  /*border-right: 2px solid white;*/
  padding:0;
  padding-right: 10px !important;
}

@media only screen and (min-width: 1279px){
  .grid-main{
    width:90% !important;
    height:90% !important;
  }
}

@media only screen and (min-width: 1919px){
  .grid-main{
    width:80% !important;
    height:80% !important;
  }
}

@media only screen and (max-width: 759px){
  .mobile-hide{
    display: none !important;
  }
}

@media only screen and (min-width: 760px){
  .mobile-hide{
    display: flex !important;
    flex-wrap: wrap !important;
    box-sizing: border-box !important;
  }
}

.text-ident{
  text-overflow: ellipsis;
}

.margin-less{
  margin: 0 !important;
  padding: 0;
}

.c-white{
  color: #ffffff !important;
}

.c-black{
  color: black;
}

.text-center{
  text-align:center;
}

.bg-no-blur{
  position: absolute;
  left:0;
  right:0;
  margin:0;
  z-index: -2;
  max-width: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  display: block;
  min-height: 100vh;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-opacity-black{
  z-index:-1;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);
  width:100%;
  height:100vh;
  position:absolute;
}

.btn-position{
    position: relative;

}

.borderTeste{
  border-bottom: solid 3px white;
}

.bg-movie-tv{
  background-color: rgba(25, 25, 25, 0.9);
  padding: 10px;
}

.purple-btn {
  background-color: #4e3e91 !important;
  color: white !important;
  margin: 10px !important;
}

.link-normal{
text-decoration: none;
color: white;
}

.CircularProgressbar-path       { stroke:yellow !important; }
.CircularProgressbar-trail      { stroke: white !important; }
.CircularProgressbar-text       { fill: yellow !important; }
.CircularProgressbar-background { fill: #4e3e91 !important; }

.WithTheme-SwipeableDrawer--root-253 .MuiPaper-root-14{
  background-color: transparent !important;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

